<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Password Reset Successful</title>
</head>

<body style="font-family: Arial, sans-serif; line-height: 1.6;">

	<h2>Password Reset Successful</h2>
	<p>Hello <%= name %>,</p>
	<p>Your account's password has been successfully reset.</p>
	<p>If you made this change, you can safely disregard this email.</p>
	<p>If you didn't reset your password, please contact our support team immediately to secure your account.</p>

	<p>Best regards,<br>
		Chatify</p>
</body>

</html>