<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/png" href="images/icons8-chat-96.png" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chatify</title>

	<link rel="stylesheet" href="css/registration.css">
	<link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
	<% if (typeof message !== 'undefined') {
		if (success) { %>
			<div class="custom-message">
				<i class="fa fa-check-circle-o" aria-hidden="true"></i> <%= message %>
		  	</div>
		<% } else { %>
		  	<div class="custom-message" style="color: #ff4646;">
				<i class="fa fa-exclamation-circle" aria-hidden="true"></i> <%= message %>
		  	</div>
		<% }
	} %>
	<div class='app__flex registration__container'>
		<div class='app__flex registration__card'>
			<div><h2>Create Account</h2></div>
			<form action="" method="POST" id="register">
				<div class='app__flex registration__info'>
					<div class='input__container'>
						<input type="text" placeholder='Full Name' name="name" required/>
						<i class="fa fa-user registration__icon"></i>
					</div>
					<div class='input__container'>
						<input type="email" placeholder='Email' name="email" required/>
						<i class="fa fa-envelope registration__icon"></i>
					</div>
					<div class='input__container'>
						<input type="password" placeholder='Password' name="password" id="pass" required/>
						<i class="fa fa-lock registration__icon"></i>
					</div>
					<div class='input__container'>
						<input type="password" placeholder='Confirm Password' name="confirmPassword" id="confirm-pass" required/>
						<i class="fas fa-check-circle registration__icon"></i>
					</div>
				</div>
			</form>
			<div class='app__flex checking'>
				<div class="app__flex">
					<input type="checkbox" name="vehicle1" value="Bike" />
					<label class='text text__link'>Agree with our Terms and Conditions</label> <a href="/register" class="fa fa-external-link" style="color: black; font-size: 10px;" aria-hidden="true"></a>
				</div>
			</div>
			<button class='btn__default' type="submit" value="Register" form="register">
				Create Account
			</button>
			<a href="/google" class='app__flex btn__default btn__alternative'><i class="fab fa-google" aria-hidden="true"></i>Sign up with Google</a>
			<div class='reg__info'>
				<a href="/" class='text__link'>Already have an account?<span>Sign in</span></a>
			</div>
		</div>
	</div>
</body>
</html>