
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/png" href="images/icons8-chat-96.png" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chatify</title>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
	<% if(typeof message !== 'undefined') {
		if(success) { %>
			<div class="custom-message">
				<i class="fa fa-check-circle-o" aria-hidden="true"></i> <%= message %>
			</div>
		<% } else { %>
			<div class="custom-message" style="color: #ff4646;">
				<i class="fa fa-exclamation-circle" aria-hidden="true"></i> <%= message %>
			</div>
		<% }
	} %>
	<div class='app__flex login__container'>
		<div class='app__flex login__card' style="height: 20rem;">
			<div><h2 style="font-size: 24px;">Reset Password</h2></div>
			<form action="" method="POST" id="reset-password">
				<div class='app__flex login__info'>
					<div class='input__container'>
						<input type="password" placeholder='Password' name="password" required/>
						<i class="fa fa-lock login__icon"></i>
					</div>
				</div>
				<div class='app__flex login__info'>
					<div class='input__container'>
						<input type="password" placeholder='Confirm password' name="confirm-password" required/>
						<i class="fa fa-shield login__icon"></i>
					</div>
				</div>
			</form>
			<button class='btn__default' type="submit" form="reset-password">
				Reset Pasword
			</button>
			<div class='reg__info'>
				<a href="/" class='text__link'>Back to<span>Sign In</span></a>
			</div>
		</div>
	</div>
</body>
</html>

