<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Password Reset</title>
</head>

<body style="font-family: Arial, sans-serif; line-height: 1.6;">

	<h2>Password Reset</h2>
	<p>Hello <%= name %>,</p>
	<p>We received a request to reset your account's password. If you didn't make this request, you can ignore this email.</p>
	<p>To reset your password, click on the link below:</p>
	<p>
		<a href="<%= link %>">
			<%= link %>
		</a>
	</p>
	<p>This link will expire in 1 hour for security reasons.</p>
	<p>If you have any questions or need further assistance, please contact our support team.</p>

	<p>Best regards,<br>
		Chatify</p>
</body>

</html>